:root {
    --primary-color: rgb(55, 137, 55);
}

body {
    background-image: url('../images/background6.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glass-theme {
    width: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(47, 47, 53, 0.405);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.2);
}

.footer-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1.5rem auto;
    padding: 10px;
}

.copyr {
    width: 100%;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
}

.footer-subsection {
    flex: 1 1 30%;
    margin: 1.6%;
    text-align: left;
}

.footer-subsection h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    font-family: var(--title-font);
}

ul {
    list-style: none;
    padding: 0;
}

.footer-subsection ul li {
    margin: 0.7rem 0;
}

.footer-subsection ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.footer-subsection ul li a:hover {
    color: var(--primary-color);
}

.footer-subsection .logo h1 {
    font-family: var(--title-font);
    color: var(--primary-color);
}

.footer-subsection .fa {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
}

p {
    font-size: 1rem;
    color: white;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo a {
    color: var(--primary-color);
}

.socialm_logo {
    max-width: 7%;
    margin: 3px;
}

.fa {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    margin-right: 0.5rem;
}

/* Responsive Media Queries */

/* For tablets (up to 768px) */
@media (max-width: 768px) {
    .footer-subsection {
        flex: 1 1 45%;
    }


}

/* For mobile devices (up to 500px) */
@media (max-width: 500px) {

    .footer-container {
        padding: 10px;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;  
        text-align: center; 
        height: auto;
        display: flex;
    }

    .footer-subsection {
        
        align-items: center;
        text-align: center;
        flex: 1 1 100%;
        margin: 1rem 0;
        display: block;
        justify-content: center;
    }

    .footer-subsection h3 {
        font-size: 1.2rem;
    }


    .copyr {
        font-size: 0.8rem;
    }

    #hide-when-needed {
        display: none; /* Hides the element */
    }
}





